/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a,
img,
span,
button,
ion-icon {
	display: block;
}

button {
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--white);
}